@font-face {
    font-family: epicFont;
    src: url(knightsquest.ttf);
}

h1 {
    font-family:epicFont;
}

body {
    margin:auto;
    width:100%;
    text-align:center;
}
#viewport {
    padding-left:0;
    padding-right:0;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#score {
    border: 0;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
    margin: 26px 5px 0;
    width: 500px;
    height: 20px;
    margin:auto;
    background-color: black;
    opacity:0.7;
    padding: 5px 15px 25px 15px;
}

#prez {
    background-color: black;
    opacity: 0.7;
    text-align: justify;
    padding: 5px 15px 5px 15px;
}

#playb {
    margin:auto;
}